*{margin: 0px; padding: 0px;}
body{
  text-align:center;
  padding-top: 20px;
  width: 90%;
  height: 95vh;
  margin: 5px auto;
  border: 1px solid #007fff;
  position: relative;
  }

table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}
th, td {
    padding: 5px;
    width: 50%;
    font-size: 1.5em;
  }
td{text-align: left; color: #4000ff;}
th{
  background-color: #007fff;
  color: #ffffff;
  text-decoration: underline;

}

.main{
  width: 70%;
  margin: 20px auto;
}
ul li{
  list-style-type: none;
}
span{color: 	#ff0000; font-size: 1.2em;}
